.sidebar
  .sidebar__user
    %p.sidebar__user__name #{current_user.name}
    = link_to edit_user_path(current_user) do
      %i.cog.fa.fa-cog
    = link_to new_group_path do
      %i.pencil.fa.fa-pencil-square-o
  .sidebar__group
    - @groups.each do |g|
      %p.sidebar__group__name #{g.name}
