.sidebar
  .sidebar__user
    %p.sidebar__user__name sample-user
  .sidebar__group
    %p.sidebar__group__name sample-group
    %p.sidebar__group__message sample-message
    %p.sidebar__group__name sample-group2
    %p.sidebar__group__message sample-message2
