= render partial: "sidebar"

.content
  .content__title
    %p.content__title__name sample
    %p.content__title__member ryoya


  .content__chats
    .content__chats__top
      .content__chats__top__name ryoya
      .content__chats__top__time 2017/10/1 01:11:11
    .content__chats__message aaaaaaaaaaaaaaaaaaa
    .content__chats__top
      .content__chats__top__name taro
      .content__chats__top__time 2017/10/1 01:11:11
    .content__chats__message aaaaaaaaaaaaaaaaaaa

  .content__send
    .content__send__input
      %input.field{ type: "text", placeholder:"type a message" }
    .content__send__button
      %i.input-button.fa.fa-photo
      %input.button{ type: "submit", value: "Send"}
