= render partial: "sidebar"

.content
  = render partial: "topbar"
  .content__chats
    .content__chats__top
      .content__chats__top__name ryoya
      .content__chats__top__time 2017/10/1 01:11:11
    .content__chats__message aaaaaaaaaaaaaaaaaaa
    .content__chats__top
      .content__chats__top__name taro
      .content__chats__top__time 2017/10/1 01:11:11
    .content__chats__message aaaaaaaaaaaaaaaaaaa

  .content__send
    = form_for @chat, url: group_chats_path do |f|
      .content__send__message
        =f.text_field :message, placeholder:"type a message", class: "field"
      .content__send__image
        =f.label :image, class:"fa fa-photo" do
          =f.file_field :image, style: "display:none"
      .content__send__submit
        =f.submit "Send", class: "button"
