.content{
  height: 100vh;
  width: calc( 100vw - 300px );
  float: right;
  background-color: $color-white;


  &__title{
    background-color: $color-white;
    padding:0 40px 0 40px;
    position: fixed;
    width: 100%;


    &__name{
      font-size: 20px;
      color: $color-black;
      padding:35px 0 15px 0;
    }

    &__member{
      font-size: 12px;
      color: $color-gray;
      padding-bottom: 15px;
    }
  }

  &__chats{
    padding: 110px 20px 130px 40px;
    background-color: $color-white;

    &__top{
      padding: 40px 0 10px 0;
      &__name{
        color: $color-dark;
        font-weight: bold;
        font-size: 16px;
        padding-right: 10px;
        float: left;
      }
      &__time{
        font-size: 12px;
        color: $color-gray;
        padding-top: 2px;
      }
    }

    &__message{
      color: $color-dark;
      font-size: 14px;
    }

    &__image{
    }
  }

  &__send{
      padding: 20px 0 20px 40px;
      background-color: $color-backwhite;
      position: fixed;
      bottom: 0px;
      width: calc( 100vw - 300px );
      height: 50px;

    &__message{
        padding-left: 10px;
        height:50px;
        width: calc( 100% - 230px );
        float:left;

        .field{
          height:50px;
          width: 100%;
        }
    }

    &__image{
        float: left;
        position: relative;
        top: 14px;
        right: 35px;
      .input-button{
        font-family: FontAwesome;
        // padding-right: 10px;
      }
    }

    &__submit{
      float:right;
      padding-right: 80px;
      .button{
        background-color: $color-blue;
        color: $color-white;
        height: 50px;
        width: 100px;
        margin-left: 15px;
        margin-bottom: 20px;
      }
    }
  }
}
